* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "roboto", sans-serif;
  color: #eee;
}
body {
  width: 100%;
  height: 100%;
  background-color: #270b38;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #eee;
}
p {
  font-size: 1.8rem;
  font-weight: 300;
}
img {
  width: 100%;
}
/*barrrrrrrr*/
#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
}
.bar {
  height: 5px;
  width: 100%;
  background-color: #b81568;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  background: linear-gradient(to top, #ffe838, #fd57bf);
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.nav li a {
  color: #b81568;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 5rem;
}
.nav li a:hover {
  font-weight: bold;
  color: #ffe838;
}
.nav li {
  list-style: none;
  padding: 16px 0;
}
.nav {
  padding: 12px;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
  width: 100%;
  justify-content: center;
}
.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 60px 0 30px 30px;
  background: rgb(19, 2, 19);

  transition: 0.1 ease;
}
#menu-bar {
  z-index: 2;
}
.change-bg {
  width: 100%;
  height: 540px;
  transform: translate(-60%, -30%);
}
.change .bar {
  background-color: white;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
.change {
  display: block;
}

/*start header*/
header {
  width: 100%;
  height: 100vh;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-text h1 {
  font-size: 12rem;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}

/*about page*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}
.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}
.profile-image {
  flex: 1;
  margin-right: 5rem;
  width: 50rem;
}
.about-details {
  flex: 1;
}

.social-media {
  margin-top: 2rem;
  display: flex;
  align-content: space-around;
  justify-content: center;
}
.social-media li {
  display: inline;
  margin: 1rem;
}

.social-media i {
  font-size: 5rem;
}
.fa-facebook-square:hover {
  color: #4267b2;
}
.fa-twitter-square:hover {
  color: #4267b2;
}

.fa-instagram-square:hover {
  color: #4267b2;
}
/*.conrareusable*/
section {
  padding: 6rem 0;
}
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  margin-bottom: 10rem;
  text-align: center;
}
.section-heading h1 {
  font-size: 3.5rem;
  color: rgb(255, 255, 255, 3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.section-heading h6 {
  font-size: 1.6rem;

  font-weight: 300;
}
.section-heading h1 ::before .section-heading h1 ::after {
  content: "";
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255, 30.75);
}
.section-heading h1 ::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.section-heading h1 ::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

/*services*/

.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem 2px 2rem 0;
}

.icon-container {
  width: 10rem;
  height: 10rem;
  border: 3px solid #ffe838;
  background-color: #fd57bf;
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
}
.icon-container i {
  color: #ffe838;
  margin: auto;
  font-size: 5rem;
}

/*-----portfolio*/

.grid {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}
.portfolio .section-heading {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.porfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}
.porfolio-description h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 1rem 0;
}

.porfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}
.porfolio-description .cta :hover {
  color: #b3d82c;
}
.has-margin-right {
  margin-right: 4rem;
}

/*-----contacts*/

form {
  width: 50%;
  margin: 0 auto;
  margin-top: 10rem;
}

form label {
  font-size: 1.5rem;
  color: #fd57bf;
  text-transform: uppercase;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 4px;
  border: none;
  outline-color: #fd57bf;
}
input[type="submit"] {
  width: initial;
  background-color: white;
  padding: 2rem 3rem;
  color: #fd57bf;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 650ms;
  text-transform: capitalize;
}
input[type="submit"] :hover {
  color: #2f67cd;
  background-color: #ffe838;
}
.status {
  color: red;
  font-size: 1.8rem;
}
.copyrights {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}

/*.up {
  position: relative;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
}
*/

/*RESPONSIVENESS*/
@media screen and (max-width: 768px) {
  body {
    background-color: #270b38;
    background-size: cover;
  }
  #menu {
    display: inline-block;
  }

  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h6 {
    font-size: 1.4rem;
  }

  .about-heading {
    font-size: 5rem;
  }
  .section-heading {
    font-size: 3rem;
  }
  .about-details {
    flex-direction: initial;
  }
  .about-details {
    margin: 0 2rem;
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 80%;
    max-width: 100rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  #nav {
    justify-content: center;
    text-align: center;
    padding-left: 7rem;
    margin-top: 5rem;
    width: 100%;
  }

  .menu-bg {
    width: 160%;
  }

  .about-image {
    width: 30rem;
    margin-bottom: 5rem;
  }
  .landing-text h {
    font-size: 8rem;
  }
  .landing-text h6 {
    font-size: 1.4rem;
  }
  .about-heading {
    font-size: 5rem;
  }
  .section-heading {
    font-size: 3rem;
  }
  .about-details {
    flex-direction: initial;
  }
  .about-details {
    margin: 0 2rem;
  }
  .about-details h1 {
    font-size: 6rem;
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .about-details p {
    font-size: 1.7rem;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-image {
    margin: 0 0 7rem 0;
  }

  .portfolio-image {
    margin-left: 5rem;
    order: 1;
  }
  .porfolio-description {
    margin-left: 5rem;
    order: 1;
  }
  form {
    width: 100%;
  }
  .menu-bg {
    margin: 150px 0 30px 150px;
  }
  .nav li a {
    font-size: 2.5rem;
  }
}
